fastapi==0.115.8
uvicorn[standard]==0.34.0
gunicorn==23.0.0
orjson==3.10.15
aiofiles==24.1.0
python-multipart==0.0.20
numpy==2.2.3
pandas==2.2.3
scikit-learn==1.6.1
matplotlib==3.10.0
yfinance==0.2.54
opencv-python==4.11.0.86
torch==2.6.0
